:root {
    --header-height: 60px;
}

html {
    font-size: 20px;
    text-align: center;
}

html, a, .btn, .theme-select {
    font-family: "Meiryo", "メイリオ", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, div, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
}

body {
    width: auto;
    margin: 0 auto;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: calc(100%);
    height: var(--header-height);
    align-content: center;
    z-index: 50;
}

.main-body-wrap {
    margin: 0 auto 60px;
    padding: calc(var(--header-height)) 0 0;
    width: 100%;
    max-width: 500px;
}

.title {
    font-size: 1.6em;
    line-height: 1.4;
    margin: 0;
}

hr {
    margin: 0 20px;
    border-width: 2px 0 0;
    border-style: solid;
    max-width: 100%;
}

.box {
    border: 2px solid;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.server-time-area, .client-time-area {
    width: max-content;
    margin: 20px auto;
}

.server-time, .client-time {
    font-size: 1.1em;
    line-height: 1.5;
}

.sun, .mon, .tue, .wed, .thu, .fri, .sat {
    display: none;
}

.sun {
    color: #fa2802;
}

.sat {
    color: #2460b4;
}

.number {
    font-variant-numeric: tabular-nums;
}

.class-list-title {
    font-size: .9em;
    line-height: 1.4;
    margin: 20px auto 5px;
    width: max-content;
}

.div-title, a {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

.description-title {
    font-size: .8em;
    line-height: 1.4;
}

.line-spacing {
    margin: 4px 0 0 0;
}

.class-area {
    width: max-content;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.room-box {
    min-width: 260px;
    margin: 0 auto;
    padding: 15px 0;
}

.nothing-box {
    min-width: max-content;
    margin: 0 auto 30px;
    padding: 15px;
}

.register-area, .input-area, .delete-room-area, .theme-select-area {
    width: max-content;
    margin: 20px auto;
}

.theme-title {
    font-size: 0.8em;
    line-height: 1.5;
    margin: 0;
}

.theme-select {
    padding: 2px 1px;
    font-size: 0.7em;
    border-color: #767676;
    border-radius: 3px;
}

a, .btn-anchor {
    color: #1a73e8;
}

a, .btn-anchor:hover {
    color: #1a73ff;
}

a:active, .btn-anchor:active {
    color: #1a73d6;
}

.btn {
    text-align: center;
    vertical-align: middle;
    border: 2px solid;
    border-radius: 3px;
    width: max-content;
    height: max-content;
    margin: 0;
    line-height: 1;
    user-select: none;
    -webkit-user-select: none;
}

.btn-normal {
    font-size: .85em;
    color: #000;
    background-color: #efefef;
    border-color: #666666;
    padding: 7px 8px;
}

.btn-small {
    font-size: .7em;
    color: #000;
    border-color: #1f1f1f;
    border: 1px solid;
    padding: 6px 7px;
}

.btn-anchor {
    font-size: .85em;
    background-color: #efefef;
    border-color: #666;
    padding: 7px 8px;
}

.btn-copy, .btn-regist, .btn-jump {
    margin: 9px 0 0;
}

.btn-copy::after {
    content: "📋";
}

.btn-delete {
    margin: 12px 0 0;
}

.btn-delete::after, .btn-delete-all::after {
    content: "🗑️";
}

.btn-delete-all {
    margin: 5px 0 0;
}

.btn:hover {
    cursor: pointer;
}

.btn-normal:hover, .btn-anchor:hover {
    background-color: #ddd;
}

.btn-normal:active, .btn-anchor:active {
    background-color: #d0d0d0;
}

.btn-red {
    background-color: #d40f0f;
}

.btn-red:hover {
    background-color: #cb0000;
}

.btn-red:active {
    background-color: #bc0000;
}

.input-label {
    font-size: .9em;
    line-height: 1.4;
}

input[type="text"] {
    font-family: "Arial", sans-serif;
    border: 2px solid;
    border-color: #666;
    border-radius: 4px;
    font-size: .85em;
    width: 170px;
    height: 27px;
    padding: 2px 3px;
}

table {
    margin: 5px auto 0;
    border-spacing: 0;
}

.description-table {
    margin-top: 12px;
}

td {
    padding: 3px 4px;
    /* outline: 1px solid */
}

.less-padding {
    padding: 1px;
}

footer {
    margin: auto 0 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

footer p {
    font-size: .675em;
    line-height: 1.4;
}

.no_scroll{
    overflow: hidden;
}

@media screen and (max-width: 500px) { /* スマホ用 */
    .title {
        font-size: 1.2em;
    }

    hr {
        margin: 0 10px;
    }

    .div-title, a {
        font-size: .9em;
    }

    .server-time, .client-time {
    font-size: 1em;
    }

    .class-list-title, .input-label {
        font-size: .8em;
    }

    .btn-normal, .btn-anchor, input[type="text"] {
        font-size: .8em;
    }

    .description-title {
        font-size: .75em;
    }

    input[type="text"] {
        padding: 1px 2px;
    }

    footer {
        padding: 15px 10px;
    }

    footer p {
        font-size: .6em;
    }
}