.ads {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.ads-modal {
    position: relative;
    width: 440px;
    padding: 0;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.ads-header {
    padding: 5px 0;
}

.ads-label {
    font-size: 1.2em;
    margin: 0;
}

.ads-title {
    font-size: 1em;
    margin: 0 0 3px;
}

.ads-pattern {
    margin: 0;
}

.img {
    width: 100%;
    height: auto;
    margin: 0 0 -8.8px;
}

.ads-content {
    margin: 0;
    padding: 0 15px 23px;
}

.ads-text-content {
    margin: 15px 0 0;
}

.alert-header, .confirm-header {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-label, .confirm-label {
    font-size: .9em;
    margin: 0;
    display: block;
}

.modal-main {
    margin: 0;
    padding: 15px 10px;
}

.modal-text {
    font-size: .9em;
    margin: 0;
}

.alert, .confirm {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.alert-content, .confirm-content {
    position: relative;
    margin: calc(var(--header-height) + 50px) auto auto;
    width: calc(400px - 10px);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.modal-btn-area {
    width: max-content;
    margin: 15px 15px 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-modal {
    font-size: .75em;
    border-color: #000;
    width: 65px;
    height: 35px;
    padding: 0;
    margin: 0;
}

.btn-ok, .btn-no {
    background-color: #efefef;
    color: #000;
}

.btn-ok:hover, .btn-no:hover {
    background-color: #e5e5e5;
}

.btn-ok:active, .btn-no:active {
    background-color: #d0d0d0;
}

.btn-yes {
    background-color: #2a66ce;
    color: #ffffff;
}

.btn-yes:hover {
    background-color: #1056be;
}

.btn-yes:active {
    background-color: #4175ce;
}

@media screen and (max-width: 500px) {
    .ads-title {
        font-size: .9em;
    }

    .content-text {
        font-size: .8em;
    }

    .alert-content, .confirm-content {
        width: calc(100% - 40px);
    }

    .ads-modal {
        width: calc(100% - 30px);
    }

    .ads-content {
        padding: 0 10px 23px;
    }
}
