html {
    font-size: 20px;
    font-family: sans-serif;
}

body {
    width: 350px;
    margin: auto;
    text-align: center;
}

.theme {
    background-color: #1b1b1b;
    color: #ffffff;
}

.title {
    font-size: 1.8rem;
    margin: 2px 0 0 0;
}

.room-box {
    display: inline-block;
    border: 2px #ffffff solid;
    width: max-content;
    margin: 20px 0 0 0;
    padding: 15px 30px;
}

.room-title, .anchor {
    font-size: 1rem;
    margin: 0;
}
