html {
    font-size: 20px;
    text-align: center;
}

html, a, .btn {
    font-family: Meiryo, sans-serif;
}

.input-class-num {
    font-family: Arial, sans-serif;
}

body {
    width: 370px;
    margin: auto;
}

.theme {
    background-color: #222222;
    color: #ffffff;
}

.title {
    font-size: 1.8rem;
    margin: 3px 0 -10px 0;
}

.room-box {
    border: 2px #ffffff solid;
    width: max-content;
    margin: 40px auto 0 auto;
    padding: 15px 35px;
}

.room-title, .anchor {
    font-size: 1rem;
    margin: 0;
}

.anchor {
    margin: 4px 0 0 0;
}

a {
    color: #1a73e8;
}

a:hover {
    color: #1a73ff;
}

a:active {
    color: #1a73d6;
}

.btn-copy-area {
    margin: 8px 0 0 0;
}

.btn {
    font-size: .8rem;
    color: #000000;
    background-color: #efefef;
    border: 2px #666666 solid;
    border-radius: 2px;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 1px 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: #dddddd;
}

.btn:active {
    background-color: #d0d0d0;
}

.input-class-area {
    border: 2px #ffffff solid;
    width: max-content;
    margin: 40px auto 10px auto;
    padding: 15px 30px;
}

.input-title {
    font-size: 1em;
    margin: 0;
}


.input-area {
    margin: 7px 0 0 0;
}

.input-class-num {
    font-size: 25px;
    width: 176px;
    height: 27px;
}

.btn-jump-area {
    margin: 9px 0 0 0;
}
