html {
    font-size: 20px;
    text-align: center;
}

html, a, .btn {
    font-family: "Meiryo", "メイリオ", sans-serif;
}

.input-class-num {
    font-family: "Arial", sans-serif;
}

body {
    width: 400px;
    margin: auto auto 30px auto;
}

.title {
    font-size: 1.8rem;
    margin: 3px 0 -10px 0;
}

.sur {
    border: 2px solid;
}

.server-time-area, .terminal-time-area {
    width: 350px;
    margin: 25px auto 0 auto;
    padding: 15px 0;
}

.server-time, .terminal-time {
    font-size: 1.1rem;
}

.bold {
    font-weight: bold;
}

#sun, #mon, #tue, #wed, #thu, #fri, #sat {
    display: none;
}

.sun {
    color: #fa2802;
}

.sat {
    color: #2460b4;
}

.number {
    font-variant-numeric: tabular-nums;
}

.div-title {
    font-size: 1rem;
    margin: 0;
}

.line-spacing {
    margin: 4px 0 0 0;
}

.room-box {
    width: 230px;
    margin: 30px auto 0 auto;
    padding: 15px 0;
}

.nothing-box {
    width: 310px;
    margin: 30px auto 0 auto;
    padding: 20px 0;
}

a {
    color: #1a73e8;
}

a:hover {
    color: #1a73ff;
}

a:active {
    color: #1a73d6;
}

.btn-area {
    font-size: 1rem;
    margin: 9px 0 0 0;
}

.btn {
    border: 2px solid;
    border-radius: 2px;
    width: max-content;
    height: max-content;
    margin: 0;
}

.btn-normal {
    font-size: .85rem;
    color: #000000;
    background-color: #efefef;
    border-color: #666666;
    padding: 2px 8px;
}

.btn-small {
    font-size: .7rem;
    color: #000000;
    background-color: #d40f0f;
    border-color: #1f1f1f;
    padding: 1px 6px;
}

.btn:hover {
    cursor: pointer;
}

.btn-normal:hover {
    background-color: #dddddd;
}

.btn-normal:active {
    background-color: #d0d0d0;
}
.btn-small:hover {
    background-color: #cb0000;
}

.btn-small:active {
    background-color: #bc0000;
}

.regist-box {
    width: 250px;
    margin: 40px auto 0 auto;
    padding: 15px 0;
}

.class-time-box {
    width: 240px;
    margin: 40px auto 0 auto;
    padding: 15px 0;
}

.input-box {
    width: 290px;
    margin: 40px auto 0 auto;
    padding: 15px 0;
}

.input-area {
    font-size: 1rem;
    margin: 8px 0 0 0;
}

.input {
    border: 2px solid;
    border-color: #666666;
    border-radius: 4px;
    font-size: 1.05rem;
    width: 150px;
    height: 27px;
}

.ads {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.ads-content {
    margin: 100px auto auto auto;
    width: calc(400px - 20px);
    padding: 0 0 23px 0;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

.ads-title {
    font-size: 1.2rem;
    margin: 0;
}

.img {
    width: calc(400px - 30px);
    height: auto;
    margin: 0 0 -8.8px 0;
}

.content-text {
    font-size: 1rem;
    margin: 0;
}

.margin-top {
    margin: 15px 0 0 0;
}

.cross-area {
    margin: 0 0 0 auto;
    padding: 8px;
    width: max-content;
    height: max-content;
}

.cross {
    height: 7px;
    width: 7px;
    margin: 0;
}

.stick-area {
    position: relative;
    top: 3px;
    right: .5px;
}

.stick {
    position: absolute;
    width: 8px;
    height: 1.2px;
    background-color: #777777;
}

.stick-1 {
    transform: rotate(45deg);
}

.stick-2 {
    transform: rotate(-45deg);
}

.cross:active .stick-1, .cross:active .stick-2{
    background-color: #888888;
}

@media screen and (max-width: 400px) {
    body {
        width: 100%;
    }

    .ads-content {
        width: calc(100% - 20px)
    }

    .img {
        width: calc(100% - 10px);
    }
}
